@import "../../../assets/styles/breakpoints.scss";

.image {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 450px;
    display: block;
    margin: auto;

    @include md {
        // max-width: 350px;
    }
}