p {
    font-weight: 300 !important;
    font-size: 18px;
    // font-family: 'Poppins', sans-serif;

    .text-mono {
        font-family: 'JetBrains Mono';
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
    }
}