@import '../../../assets/styles/breakpoints.scss';

#header {
    background-color: var(--dark);
    padding: 16px;

    #logo {
        max-width: 380px;
        height: 60px;

        @include md {
            height: 55px;
        }
    }

    h1 {
        font-size: 24px;
        color: var(--principal-color);
        margin: 0;

        @include md {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 300;
        color: var(--light);
        margin-top: 16px;

        @include md {
            font-size: 16px;
        }
    }
}