@import '../../../assets/styles/breakpoints.scss';

#header {
    h1 {
        font-size: 48px;
        color: var(--principal-color);

        @include md {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 300;
        color: var(--light);
        margin-top: 16px;

        @include md {
            font-size: 16px;
        }
    }
}