@import "../../../assets/styles/breakpoints.scss";

.career-section {
    position: relative;
}

.career-section-title {
    position: sticky;
    top: 12vh;
    height: fit-content;

    @include lg {
        position: relative;
        top: 0;
    }
}

.career-section-academical {
    border-left: 1px solid var(--light);
    
    @include lg {
        border: none
    }
}

.career-button {
    font-size: 14px !important;
    color: white;
    padding: 8px 12px !important
}

.career-list {
    // width: 65%;
    margin-left: auto !important;

    @include md {
        width: 100%;
    }
}

.enterprise-name {
    font-size: 28px;
    font-weight: 600;
    color: var(--principal-color);
    text-transform: uppercase;
    
    @include md {
        font-size: 24px;
    }
}

.positions-name {
    font-size: 22px;
    font-weight: 700;
    color: var(--medium);
    text-transform: uppercase;
    margin-bottom: 0;

    @include md {
        font-size: 20px;
    }
}

.course-name {
    font-size: 22px;
    font-weight: 700;
    color: var(--medium);
    margin-bottom: 0;

    @include md {
        font-size: 20px;
    }
}

.positions-date {
    font-size: 16px;
    color: var(--medium-light);
    font-weight: 700;

    @include md {
        font-size: 14px;
    }
}

.positions-separator {
    color: var(--medium-light)
}

.positions-techs-badge {
    text-transform: uppercase;
}

.dashed-separator {
    height: 10vh;
    // border-left: 1px dashed var(--light);
    background-image: linear-gradient(var(--medium-light) 33%, rgba(255,255,255,0) 0%);
    background-position: left;
    background-size: 1px 12px;
    background-repeat: repeat-y;
}

.career-description {
    color: var(--medium-dark);
}