@import "../../../assets/styles/breakpoints.scss";

.post-thumbnail {
    max-width: 800px;
    max-height: 300px;
    margin: auto;
    display: block;

    @include md {
        width: 300px;
    }
}