@import "../../../assets/styles/breakpoints.scss";

#portfolio-domains {
    font-size: 48px;
    font-weight: 300;
    // background-color: var(--medium-light-blue);

    @include md {
        font-size: 32px;
    }
}

.selected-domain {
    transition: 1s;
    color: var(--principal-color);
}

.domain-title {
    font-size: 26px;
    font-weight: 600;
    color: var(--principal-color);
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skills-list-items {
    padding: 6px 10px;
    background-color: var(--medium);
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}