@import "../../../assets/styles/breakpoints.scss";

#portfolio-domains {
    font-size: 48px;
    font-weight: 300;
    // background-color: var(--medium-light-blue);

    @include md {
        font-size: 32px;
    }
}

.selected-domain {
    transition: 1s;
    color: var(--principal-color);
}

.domain-title {
    font-size: 26px;
    font-weight: 600;
    color: var(--principal-color);
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skills-list-items {
    .skills-list-items-text {
        color: var(--dark);
        position: relative;
        z-index: 2;
        transition: .25s;
    }

    .skills-list-items-bg-hover {
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        transition: .25s;
        background-color: var(--medium);
        border-radius: 4px;
        z-index: 1;
    }

    &:hover .skills-list-items-bg-hover {
        width: 100%;
    }

    &:hover .skills-list-items-text {
        color: var(--light);
    }
}