@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;700&display=swap');
@import "./assets/styles/breakpoints.scss";

:root {
  
  /* colors */
  --principal-color: #387eff;
  --light-principal-color: #34a8d6;
  --dark: #0f0f0f;
  --medium: #1e2127;
  --medium-dark: #333333;
  --medium-light-blue: rgb(232, 236, 238);
  --light: #dbdbdb;
  --medium-light: #b6b6b6;
  --light-blue: #edf2f5;
  --extra-light: #f7f7f7;
  --navbar-color: rgba(0, 0, 0, 0.123);
  --inputs-success: rgb(60, 88, 60);
  --inputs-error: rgb(88, 55, 55);
  --bg-footer: rgb(3, 2, 7);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include lg {
    scroll-margin-top: 10vh;
  }
}

.select__menu {
  color: black;
}

.sections-title {
  font-size: 40px;
  font-weight: 600;
  color: var(--dark);
  text-transform: lowercase;

  @include md {
    font-size: 30px;
  }
}

.sections-text {
  line-height: 2;
  font-weight: 400;
  font-size: 20px;
  color: var(--medium-dark);
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.py-lg-max {
  padding: 5rem 0 !important;
}

.badge.bg-primary {
  background-color: var(--principal-color) !important;
}

.error-label {
  color: rgb(197, 75, 53);
}

.neutral-label {
  color: var(--dark);
}

code {
  color: #00193a !important;
  font-family: 'Fira Mono' !important;
}

.token.method.property-access {
  font-weight: 400;
  color: #054BAC !important;
}