@import '../../../assets/styles/breakpoints.scss';

#filter {
    color: white;
    top: 0;
    z-index: 100;
    
    margin-top: 10vh;
}

#presentation-blog {
    position: sticky;
    z-index: 10;
}

.wrapper-header {
    width: 100%;
    background-color: var(--dark);
    padding: 48px 16px;

    @include md {
        padding: 32px 16px;
    }
}

.wrapper-home {
    position: relative;
}

.wrapper-filter {
    width: 100%;
    background-color: var(--medium);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 16px;
    z-index: 100;
}

.wrapper-posts {
    background-color: var(--light-blue);
}

#header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

#blog-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

// #filter {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     color: white;
// }

// main {
//     height: 120vh !important;
// }