#footer {
    background-color: var(--bg-footer);
    color: var(--light);
    padding: 64px 0;

    .title {
        font-size: 26px;
        font-weight: 700;
    }

    .text {
        line-height: 1.75;
        font-weight: 400;
        font-size: 18px;
        color: var(--light);

        strong {
            font-weight: 700;
            color: var(--principal-color);
        }
    }

    ul {
        width: fit-content;
        a {
            color: var(--light);
            text-decoration: none;
        }

        li {
            margin-bottom: 16px;
            transition: all 0.3s;
        }
    }

    .network-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 8px;
        justify-content: flex-start;
    }

    .network-links {
        transition: .3s;
        border-bottom: 1px solid transparent;
    }

    .network-links:hover {
        border-bottom: 1px solid var(--principal-color) !important;
    }
}