@import '../../../assets/styles/breakpoints.scss';

#presentation-blog {
    background-color: var(--dark);
    padding: 16px;
    border-radius: 4px;

    h1 {
        font-size: 28px;
        color: var(--principal-color);

        @include md {
            font-size: 28px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 300;
        color: var(--light);
        margin-top: 16px;

        @include md {
            font-size: 16px;
        }
    }

    .network-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 8px;
        justify-content: center;
    }

    .network-links {
        transition: .3s;
    }

    .network-links:hover {
        transform: scale(1.1);
    }
}