@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Sofia+Sans:wght@100;300;400;600;800&display=swap');

:root {
  
  /* colors */
  --principal-color: #38b6ff;
  --dark: #0f0f0f;
  --medium: #252933;
  --light: #dbdbdb;
  --light-blue: #edf2f5;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select__menu {
  color: black;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}