@import '../../../assets/styles/breakpoints.scss';

.cardPost {
    border: none;
    transition: .25s;
    display: flex;
    flex-direction: row;
    border-radius: 4px !important;
    cursor: pointer;

    .card-img-top {
        max-width: 340px;
        border-radius: 4px 0 0 4px;

        @include md {
            border-radius: 4px 4px 0 0;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 36px;

        .card-title {
            font-size: 24px;
            font-weight: 700;
        }
    
        .card-subtitle {
            font-size: 16px;
            font-weight: 300;
        }

        .card-body-categories {
            display: flex;
            gap: 4px;
        }

        @include md {
            padding: 16px;

            .card-title {
                font-size: 22px;
            }
        
            .card-subtitle {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }

    @include md {
        flex-direction: column;
        
        .card-img-top {
            max-width: 100%;
        }
    }
}

.cardPost:hover {
    transform: scale(1.01);
}