@import "../../assets/styles/breakpoints.scss";

.portfolio-header {
    margin: 0;
    // height: 100vh;
    overflow: hidden;
    background: transparent;
}

.portfolio-main {
    margin-top: 10vh;
}

.h-40 {
    height: 40vh !important;
}

.portfolio-presentation {
    height: 90vh;
    background-color: var(--extra-light);
}

.portfolio-about {}

.portfolio-domains {
    font-size: 48px;
    font-weight: 300;
    // background-color: var(--medium-light-blue);

    @include md {
        font-size: 32px;
    }
}

.portfolio-skills {
    background-color: var(--extra-light);
}

.portfolio-projects {
    // background-color: var(--secondary-color);
}

.portfolio-contacts {
    background-color: var(--dark);
}

.portfolio-blog {}