.portfolio-header {
    margin: 0;
    // height: 100vh;
    overflow: hidden;
    background: white;
}

.portfolio-main {
    margin-top: 10vh;
}

.h-40 {
    height: 40vh !important;
}

#portfolio-presentation {
    height: 90vh;
    background-color: #f7f7f7;
}