#footer {
    background-color: var(--bg-footer);
    color: var(--light);
    padding: 64px 0;
    font-size: 20px;

    .title {
        font-size: 32px;
        font-weight: 700;
    }

    .text {
        line-height: 1.75;
        font-weight: 300 !important;
        font-size: 20px;
        color: var(--medium-light);

        strong {
            font-weight: 700;
            color: var(--principal-color);
        }
    }

    ul {
        width: fit-content;
        a {
            color: var(--light);
            text-decoration: none;
        }

        li {
            margin-bottom: 16px;
            transition: all 0.3s;
        }
    }

    .network-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: flex-start;
        width: 100%;
    }

    .network-links {
        transition: .5s;
        border-bottom: 1px solid transparent;
        width: fit-content;
    }

    .network-links li {
        text-decoration: transparent wavy underline;
    }

    .network-links li:hover {
        text-decoration: var(--principal-color) wavy underline;
    }
}