@import "../../../assets/styles/breakpoints.scss";

#logo {
    // font-family: 'JetBrains Mono', monospace;
    font-size: 32px;
    font-weight: 800;

    @include md {
        font-size: 24px;
    }
}

#logo-color {
    // font-family: 'JetBrains Mono', monospace;
    color: var(--principal-color);
}

.dark-logo {
    color: var(--dark);
}

.light-logo {
    color: var(--light);
}