name: Automatized deploy - blog

on: 
  push:
    branches: 
      - main

jobs:
  build:
    name: Front-end
    runs-on: ubuntu-latest

    steps:
    - name: Repository checkout
      uses: actions/checkout@v2

    - name: Setup node, npm and yarn
      uses: actions/setup-node@v2
      with:
          node-version: "18"

    - name: Connects to VPS via SSH
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: ${{ secrets.HOST }}
        port: ${{ secrets.PORT }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          nvm install v18
          nvm use v18
          node -v
          npm -v
          ls -la
          node -v


    # - run: cd ..

    # - name: See current folder
    #   run: ls -la

    # - name: Run shell script to deploy
    #   run: sh /var/app/blog/app/deploy.sh

    # - name: Setup node with yarn caching
    #   uses: actions/setup-node@v3
    #   with:
    #       node-version: "18"
    #       cache: yarn

    # - run: corepack enable

    # - name: Switch to front-end directory
    #   run: cd /var/app/blog/app

    # - name: Switc to branch - main
    #   run: git checkout main
    
    # - name: Pull code
    #   run: git pull

    # - name: Install dependencies
    #   run: yarn install

    # - name: Build code
    #   run: yarn build

    # - name: Put the builded code on the public_html
    #   run: cp -r dist/. /var/www/lucasdbrito.com/public_html