name: Automatized deploy - blog

on: 
  push:
    branches: 
      - main

jobs:
  build:
    name: Front-end
    runs-on: ubuntu-latest

    steps:
    - name: Repository checkout
      uses: actions/checkout@v2

    - name: Setup node and yarn
      uses: actions/setup-node@v3
      with:
          node-version: '16'
          cache: 'yarn'
      
    - run: corepack enable

    - name: Connects to VPS via SSH
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: ${{ secrets.HOST }}
        port: ${{ secrets.PORT }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          sh ./deploys/deploy-frontend-blog.sh