name: Automatized deploy - blog

on: 
  push:
    branches: 
      - main

jobs:
  build:
    name: Front-end
    runs-on: ubuntu-latest

    steps:
    - name: Repository checkout
      uses: actions/checkout@v2

    - name: Connects to VPS via SSH
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: ${{ secrets.HOST }}
        port: ${{ secrets.PORT }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          npm i -g yarn
          sh ./deploys/deploy-frontend-blog.sh
          npm un -g yarn