name: Automated deploy - blog

on: 
  push:
    branches: [ main ]

jobs:
  build:
    name: front-end - vite react
    runs-on: ubuntu-latest

    steps:
    - name: Connects to VPS via SSH and run the deploy shell script
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: ${{ secrets.HOST }}
        port: ${{ secrets.PORT }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          export NVM_DIR=~/.nvm
          source ~/.nvm/nvm.sh
          sh /var/app/blog/deploy-app.sh
          systemctl reload apache2