name: Automatized deploy - blog

on: 
  push:
    branches: 
      - main

jobs:
  build:
    name: Front-end
    runs-on: ubuntu-latest

    steps:
    - name: Executing deploy shell script
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        key: ${{ ${{ secrets.SSH_KEY }} }}
        script: whoami
        # sh ./deploys/deploy-frontend-blog.sh